@import "reset.css";

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo img {
  width: 350px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 50px;
  position: relative;
}
.search-bar i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.4);
}

input {
  width: 85%;
  height: 30px;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 0px 30px;
}

button {
  color: rgba(0, 0, 0, 0.7);
  border: none;
  height: 35px;
  margin: 10px 2px;
}

.footer {
  margin: 8px 0;
  font-size: 12px;
  font-weight: 800;
}

i:first-child {
  position: absolute;
  top: 19px;
  left: 55px;
}

i:nth-child(3) {
  position: absolute;
  top: 19px;
  right: 75px;
  color: black;
}

i:last-child {
  opacity: 0.6;
  position: absolute;
  top: 19px;
  right: 55px;
  color: blue;
}

a {
  color: blue;
  text-decoration-line: none;
}
